# Minimum length of 10 characters
minlen = 10

dcredit = -1   # Must have at least 1 digit (0-9)
ucredit = -1   # Must have at least 1 Uppercase (A-Z)
lcredit = -1   # Must have at least 1 Lowercase (a-z)
ocredit = -1   # Must have at least 1 Symbol (!@#$)

# Deny passwords that contain the username
usercheck = 1